body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.x {
    display: none;
}

label.revealer {
    width: 100%;
    font-weight: normal;
    cursor: pointer;
}

label.revealer:hover {
    color: blue;
    text-decoration: dashed underline;
}

div.title {
    font-size: 200%;
    font-style: italic;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
}

div.menu {
    border-top: 1px solid white;
    background-color: lightblue;
    margin-bottom: 10px;
}

div.menu a {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid white;
}

div.menu a.right {
    float: right;
    border-right: 0;
    border-left: 1px solid white;
}

div.menu a:hover {
    background-color: yellow;
}

div.subtitle {
    font-size: 150%;
    margin-bottom: 5px;
}

div.subnote {
    margin-left: 2em;
    margin-bottom: 5px;
    font-style: italic;
}

div.subnote em {
    font-weight: bold;
}

div.data {
    display: table;
    margin: 0 auto;
}

.button {
    border: 1px solid black;
    padding: 0 2px;
    background-color: lightyellow;
    font-style: italic;
    font-weight: normal;
    cursor: pointer;
}
.button:hover {
    background-color: yellow;
}

.right {
    float: right;
}

table.power {
    width: 100%;
}

/* Cell spacing */
table.power td {
    padding: 1px 4px;
}

/* Internal vertical border between columns */
table.power td ~ td {
    border-left: 1px solid lightgray;
}

/* Header formatting */
table.power tr.headertop {
    border-top: 1px solid black;
    font-weight: bold;
    background-color: lightcyan;
}
table.power tr.header {
    border-bottom: 2px solid black;
    font-weight: bold;
    background-color: lightcyan;
}

/* Footer formatting */
table.power tr.footer {
    border-top: 2px solid black;
    font-style: italic;
    font-weight: bold;
}

/* Highlight hovered row, except header row */
table.power tr.highlight:hover {
    background-color: yellow !important;
}

/* Background alternate colours */
table.power tr.row1 {
    background-color: #eee;
}

table.power .unknown {
    font-style: italic;
}

table.power span.mw {
    text-align: left;
}

table.power span.percent, table.power span.maxpower {
    text-align: right;
    float: right;
    margin-left: 2em;
    font-style: italic;
}

table.power .genunit {
    text-align: right;
    float: right;
    font-style: italic;
}

div.update {
    font-style: italic;
    font-weight: normal;
}

.smallupdate {
    white-space: nowrap;
    font-style: italic;
    font-weight: normal;
    font-size: 90%;
}

div.info {
    margin: 5px;
    margin-top: 25px;
    border: 1px solid black;
}

div.info div.infotitle {
    font-style: italic;
    font-weight: bold;
    padding: 2px;
    background-color: #ccc;
}

div.info p {
    margin: 1px;
}

div.info ul {
    margin: 1px;
}

div.email {
    padding: 15px;
}

div.email span {
    font-family: monospace;
}